html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.main-container{
    display: flex;
    height: 100%;
    width: 100%;
}

.left-container, .right-container{
    width: 50%;
    height: 100%;
}

.left-container{
    background-color: #1e2327;
}
.right-container{
    background-color: #e9a904;
}